<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Regex</title>
</head>
<body>
  <h1>Edit Regex</h1>
  <form action="/update_regex_pattern" method="post" id="editRegexForm">
    <label for="regexPattern">Pattern:</label><br>
    <input type="text" id="regexPattern" name="regexPattern"><br><br>
    <button type="submit" id="saveButton">Save</button>
  </form>

  <script src="../static/js/edit_regex.js" type="module"></script>
</body>
</html>
