<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit DFA</title>
</head>
<body>
  <h1>Edit DFA</h1>
  <form action="/update_dfa" id="editDfaForm" method="post">
    <label for="transitions">Transitions:</label><br>
    <!-- Menampilkan nilai variabel dfa -->
    <input type="text" id="dfa" name="dfa"><br>
    <label for="startState">Start State:</label><br>
    <!-- Menampilkan nilai variabel startState -->
    <input type="text" id="startState" name="startState"><br>
    <label for="acceptingStates">Accepting States:</label><br>
    <!-- Menampilkan nilai variabel acceptingStates -->
    <input type="text" id="acceptingStates" name="acceptingStates"><br><br>
    <button type="submit" id="saveButton">Save</button>
  </form>

  <script src="../static/js/edit_dfa.js" type="module"></script>
</body>
</html>
