<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/css/styles2.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>Automata Project</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="min-h-screen bg-gradient-to-br from-gray-400 to-gray-700 flex flex-col text-black">
       
          <section id="home" class="flex flex-col min-h-screen justify-center">
            <main class="flex flex-col gap-6  text-center ">
              <h1 class="text-7xl font-bold mb-20">Projek Automata Kelompok 3</h1>
              <!--<a href="/menu5" class="bg-green-700 active:ring-2 active:ring-green-400 text-gray-200 py-2 px-4 rounded-md text-md font-bold">STARTED</a>-->
              
             
              <p class="text-xl text-gray-400 mt-40">DISUSUN OLEH:<br>
                L0122043 – DANANG APRIANTO
                L0122051 – EKA PUTRA MERAVIGLIOSI
                L0122060 – FAKHIRA AMMARA RAISA<br>
                L0122077 - IKHSAN ARI NOVIANTO
                L0122069 – GHINA PUSPAMURTI
                </p>
              
            </main>
          </section>
    </div>
</body>
</html>