<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hoverable Containers</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    .container {
      transition: transform 0.3s ease-in-out;
    }
    .container:hover {
      transform: scale(1.05);
    }
  </style>
</head>
<body class="min-h-screen bg-gray-200">
  <div class="text-center mb-4 text-3xl font-bold text-gray-800 pt-2 hidden">Automata</div>
  <div class="flex items-center justify-center">
    <div id="mainContent" class="w-3/4 custom-height"> <!-- Membuat lebar menjadi 75 persen dan tinggi tidak lebih dari tinggi layar -->
      <div class="flex flex-grow pl-6 pr-6">
        <div class="w-3/5 flex flex-col">
          <div class="text-center mb-4 text-3xl font-bold text-gray-800 pt-2 invisible">p</div>
          <a href="/menu1" class="container mx-auto h-56 bg-blue-400 rounded-md flex items-center justify-center mb-8">
            <span class="text-white text-2xl font-bold">Container 1</span>
          </a>
          <a href="/menu2" class="container mx-auto h-56 bg-green-400 rounded-md flex items-center justify-center">
            <span class="text-white text-2xl font-bold">Container 2</span>
          </a>
        </div>
        <div class="ml-8 w-full p-2 pt-8">
          <a href="/menu3" class="container mx-auto h-40 bg-yellow-500 rounded-md flex items-center justify-center mb-4">
            <span class="text-white text-2xl font-bold">Container 3</span>
          </a>
          <a href="/menu4" class="container mx-auto h-40 bg-red-500 rounded-md flex items-center justify-center mb-4">
            <span class="text-white text-2xl font-bold">Container 4</span>
          </a>
          <a href="/menu5" class="container mx-auto h-40 bg-purple-500 rounded-md flex items-center justify-center">
            <span class="text-white text-2xl font-bold">Container 5</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <script>
    window.onload = function() {
      // Scroll ke bawah sebesar 30px setelah 1 detik
      setTimeout(function() {
        window.scrollBy(0, 30);
      }, 1000);

      // Scroll ke bagian paling bawah halaman secara halus
      setTimeout(function() {
        window.scrollTo({
          top: document.body.scrollHeight,
          behavior: 'smooth'
        });
      },1000 ); // Ubah angka 2000 sesuai kebutuhan, ini berarti akan scroll ke bawah setelah 2 detik
    };
  </script>
</body>
</html>
